import necessary packages and read csv files

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
%matplotlib inline
import csv


import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

submission file used doesn't contain any value in error column

In [2]:
dir_train = 'dirty_data.csv'
dir_test = 'cleaned_data.csv'
dir_submission = 'sample_sub.csv'
dir_submissions = 'test_data.csv'
dir_submissionss = 'variable_definitions.csv'

In [3]:
dirty = pd.read_csv(dir_train, low_memory = False, encoding='cp1252')
clean = pd.read_csv(dir_test, low_memory = False, encoding='cp1252')
test = pd.read_csv(dir_submissions, low_memory = False)
vdefinitions = pd.read_csv(dir_submissionss, low_memory = False, encoding='cp1252')
sub = pd.read_csv(dir_submission, low_memory = False)

perform necessary exploratory data analysis

In [4]:
dirty.head(2)

,Rescue_ID,Date_Caught,Researcher,CaptureSite,ForagingGround,CaptureMethod,Fisher,LandingSite,Species,ReleaseSite,...,CCW_cm,Weight_Kg,Sex,TurtleCharacteristics,Status,Date_Release,Release_Admiss_Notes,SpecialRemarks,PCVNumber,Expenditure
0,1998_RE_0001,4/14/1998,researcher_12,site_110,creek,net,fisher_619,site_58,species_1,site_80,...,58.5,NaN,Unknown,NaN,Released,4/14/1998,NaN,NaN,NaN,NaN
1,1998_RE_0002,7/7/1998,researcher_4,not_recorded,ocean,longline,fisher_522,site_22,species_1,not_recorded,...,37.0,NaN,NaN,1B-1LLS,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
clean.head(1)

,Rescue_ID,Date_Caught,Researcher,CaptureSite,ForagingGround,CaptureMethod,Fisher,LandingSite,Species,ReleaseSite,...,CCW_cm,Weight_Kg,Sex,TurtleCharacteristics,Status,Date_Release,Release_Admiss_Notes,SpecialRemarks,PCVNumber,Expenditure
0,1998_RE_0001,4/17/1998,researcher_19,site_110,creek,net,fisher_619,site_58,species_1,site_80,...,58.42,NaN,Unknown,NaN,Released,4/17/1998,NaN,NaN,NaN,NaN

In [6]:
test.head(1)

,Rescue_ID,Date_Caught,Researcher,CaptureSite,ForagingGround,CaptureMethod,Fisher,LandingSite,Species,ReleaseSite,...,CCW_cm,Weight_Kg,Sex,TurtleCharacteristics,Status,Date_Release,Release_Admiss_Notes,SpecialRemarks,PCVNumber,Expenditure
0,2011_RE_0001,1/1/2011,researcher_4,site_38,ocean,net,fisher_360,site_118,species_1,site_80,...,92.4,NaN,NaN,Looks healthy& well fed. Small barnacles on bo...,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
test.isna().sum()

Rescue_ID                   0
Date_Caught                 0
Researcher                  0
CaptureSite                 0
ForagingGround              0
CaptureMethod               0
Fisher                      0
LandingSite                 0
Species                     0
ReleaseSite                 0
Tag_1                       0
Tag_2                       0
Tag_3                    1362
Lost_Tags                1360
T_Number                 1362
CCL_cm                      2
CCW_cm                      4
Weight_Kg                  82
Sex                      1362
TurtleCharacteristics       9
Status                    824
Date_Release              831
Release_Admiss_Notes     1316
SpecialRemarks           1357
PCVNumber                1362
Expenditure              1362
dtype: int64

I find values in Fisher column of dirty dataframe that are not in Fisher column in clean dataframe and I match those
values to values in Fisher column in test dataframe. The idea is any value found in Fisher column of dirty dataframe and not found in Fisher column of clean dataframe is considered erroneous, and if these erroneous values are still found in the test dataframe then these values are erroneous.    

The below codes carry out the process.

In [8]:
#search for values in dirty dataframe and not in clean dataframe
fisherdc = dirty["Fisher"][~dirty["Fisher"].isin(clean["Fisher"])]
fisherdc.unique()

array(['fisher_667', 'fisher_1232', 'fisher_611', 'fisher_1167',
       'fisher_985', 'fisher_625', 'fisher_526', 'fisher_1383',
       'fisher_1122', 'fisher_91', 'fisher_1163', 'fisher_856',
       'fisher_151', 'fisher_1127', 'fisher_1004', 'fisher_1248',
       'fisher_124', 'fisher_1231', 'fisher_53', 'fisher_649',
       'fisher_1129', 'fisher_1187', 'fisher_74', 'fisher_347',
       'fisher_495', 'fisher_465', 'fisher_1039', 'fisher_904',
       'fisher_1003', 'fisher_707', 'fisher_576', 'fisher_1157',
       'fisher_962', 'fisher_1001', 'fisher_1414', 'fisher_1237',
       'fisher_927', 'fisher_1177', 'fisher_1126', 'fisher_651',
       'fisher_1136', 'fisher_92', 'fisher_375', 'fisher_1125',
       'fisher_457', 'fisher_1228', 'fisher_1130', 'fisher_456',
       'fisher_1397', 'fisher_467', 'fisher_1123', 'fisher_1131',
       'fisher_952', 'fisher_1318', 'fisher_889', 'fisher_435',
       'fisher_972', 'fisher_516', 'fisher_515', 'fisher_835',
       'fisher_513', 'fisher_444', 'fisher_716', 'fisher_17',
       'fisher_1334', 'fisher_887', 'fisher_995', 'fisher_888',
       'fisher_815', 'fisher_905', 'fisher_885', 'fisher_1124',
       'fisher_1328', 'fisher_913', 'fisher_1092', 'fisher_1290',
       'fisher_906', 'fisher_498', 'fisher_249', 'fisher_72',
       'fisher_270', 'fisher_988', 'fisher_1002', 'fisher_808',
       'fisher_928', 'fisher_1071', 'fisher_623', 'fisher_860',
       'fisher_1335', 'fisher_188', 'fisher_312', 'fisher_809',
       'fisher_1230', 'fisher_585', 'fisher_520', 'fisher_1314',
       'fisher_535', 'fisher_543', 'fisher_806', 'fisher_998',
       'fisher_854', 'fisher_1234', 'fisher_756', 'fisher_1420',
       'fisher_755', 'fisher_1349', 'fisher_622', 'fisher_170',
       'fisher_1101', 'fisher_234', 'fisher_832', 'fisher_807',
       'fisher_1015', 'fisher_593', 'fisher_1239', 'fisher_1325',
       'fisher_1238', 'fisher_1040', 'fisher_1229', 'fisher_384',
       'fisher_371', 'fisher_721', 'fisher_1150', 'fisher_1093',
       'fisher_1235', 'fisher_582', 'fisher_1385', 'fisher_503',
       'fisher_737', 'fisher_818', 'fisher_137', 'fisher_1379',
       'fisher_425', 'fisher_849', 'fisher_1382', 'fisher_1233',
       'fisher_1320', 'fisher_583', 'fisher_581', 'fisher_579',
       'fisher_23', 'fisher_1319', 'fisher_768', 'fisher_805',
       'fisher_1227', 'fisher_1192', 'fisher_606', 'fisher_1353',
       'fisher_907', 'fisher_1392', 'fisher_1236', 'fisher_850',
       'fisher_1024', 'fisher_754', 'fisher_608', 'fisher_1164',
       'fisher_950', 'fisher_871', 'fisher_584', 'fisher_1094'],
      dtype=object)

In [9]:
#search for values in test dataframe and not in clean dataframe
db  = test["Fisher"][~test["Fisher"].isin(clean["Fisher"])]
db.unique()

array(['fisher_1203', 'fisher_946', 'fisher_1104', 'fisher_581',
       'fisher_204', 'fisher_741', 'fisher_1063', 'fisher_95',
       'fisher_1385', 'fisher_442', 'fisher_1012', 'fisher_1174',
       'fisher_1024', 'fisher_476', 'fisher_815', 'fisher_710',
       'fisher_812', 'fisher_328', 'fisher_850', 'fisher_745',
       'fisher_847', 'fisher_469', 'fisher_1403', 'fisher_1271',
       'fisher_65', 'fisher_1421', 'fisher_583', 'fisher_1318',
       'fisher_600', 'fisher_656', 'fisher_1358', 'fisher_676',
       'fisher_128', 'fisher_1023', 'fisher_298', 'fisher_646',
       'fisher_420', 'fisher_132', 'fisher_1085', 'fisher_1300',
       'fisher_77', 'fisher_816', 'fisher_580', 'fisher_275',
       'fisher_178', 'fisher_1364', 'fisher_49', 'fisher_1056',
       'fisher_410', 'fisher_163', 'fisher_899', 'fisher_342',
       'fisher_1175', 'fisher_628', 'fisher_282', 'fisher_1224',
       'fisher_591', 'fisher_1022', 'fisher_1145', 'fisher_921',
       'fisher_436', 'fisher_398', 'fisher_1367', 'fisher_1152',
       'fisher_626', 'fisher_1173', 'fisher_247', 'fisher_1161',
       'fisher_192', 'fisher_466', 'fisher_1062', 'fisher_890',
       'fisher_948', 'fisher_1041', 'fisher_829', 'fisher_900',
       'fisher_639', 'fisher_1242', 'fisher_403', 'fisher_1153',
       'fisher_38', 'fisher_5', 'fisher_273', 'fisher_1075', 'fisher_866',
       'fisher_799', 'fisher_478', 'fisher_869', 'fisher_229',
       'fisher_701', 'fisher_201', 'fisher_1076', 'fisher_1068',
       'fisher_853', 'fisher_892', 'fisher_1072', 'fisher_1226',
       'fisher_238', 'fisher_402', 'fisher_579', 'fisher_61',
       'fisher_395', 'fisher_408', 'fisher_858', 'fisher_1133',
       'fisher_332', 'fisher_1386', 'fisher_874', 'fisher_31',
       'fisher_1147', 'fisher_728', 'fisher_796', 'fisher_1243',
       'fisher_678', 'fisher_1329', 'fisher_482', 'fisher_120',
       'fisher_788', 'fisher_742', 'fisher_1017', 'fisher_1372',
       'fisher_718', 'fisher_168', 'fisher_310', 'fisher_391',
       'fisher_674', 'fisher_1394', 'fisher_705', 'fisher_343',
       'fisher_1060', 'fisher_1404', 'fisher_1025', 'fisher_177',
       'fisher_1186', 'fisher_1333', 'fisher_286', 'fisher_1204',
       'fisher_864', 'fisher_1137', 'fisher_1054', 'fisher_365',
       'fisher_1048', 'fisher_1278', 'fisher_271', 'fisher_1020',
       'fisher_578', 'fisher_971', 'fisher_775', 'fisher_390',
       'fisher_59', 'fisher_985', 'fisher_689', 'fisher_60', 'fisher_405',
       'fisher_777', 'fisher_417', 'fisher_146', 'fisher_1415',
       'fisher_1045', 'fisher_220', 'fisher_240', 'fisher_1341',
       'fisher_1319', 'fisher_1214', 'fisher_401', 'fisher_1117',
       'fisher_677', 'fisher_1014', 'fisher_748', 'fisher_299',
       'fisher_1111', 'fisher_125', 'fisher_512', 'fisher_104',
       'fisher_1088', 'fisher_141'], dtype=object)

In [10]:
#values in dirty dataframe and in test dataframe which are considered erroneous
user = db[db.isin(fisherdc)]
user.unique()

array(['fisher_581', 'fisher_1385', 'fisher_1024', 'fisher_815',
       'fisher_850', 'fisher_583', 'fisher_1318', 'fisher_579',
       'fisher_985', 'fisher_1319'], dtype=object)

In [11]:
#check position of the values in the test dataframe
array = ['fisher_581', 'fisher_1385', 'fisher_1024', 'fisher_815',
       'fisher_850', 'fisher_583', 'fisher_1318', 'fisher_579',
       'fisher_985', 'fisher_1319']
dx = test.loc[test["Fisher"].isin(array)]
dx[['Rescue_ID', 'Fisher']]

         Rescue_ID       Fisher
33    2011_RE_0034   fisher_581
115   2011_RE_0116  fisher_1385
134   2011_RE_0135  fisher_1385
158   2011_RE_0159  fisher_1024
172   2011_RE_0173  fisher_1024
179   2011_RE_0180   fisher_815
198   2011_RE_0199   fisher_850
233   2011_RE_0234   fisher_583
236   2011_RE_0237  fisher_1318
330   2011_RE_0331   fisher_583
360   2011_RE_0361   fisher_583
402   2011_RE_0403   fisher_583
403   2011_RE_0404   fisher_583
404   2011_RE_0405   fisher_583
410   2011_RE_0411   fisher_583
411   2011_RE_0412   fisher_583
413   2011_RE_0414   fisher_583
454   2011_RE_0455   fisher_581
457   2011_RE_0458   fisher_583
496   2011_RE_0497   fisher_583
523   2011_RE_0524   fisher_583
544   2011_RE_0545   fisher_583
610   2011_RE_0611   fisher_581
622   2011_RE_0623  fisher_1024
625   2011_RE_0627   fisher_583
658   2011_RE_0660  fisher_1318
683   2011_RE_0685   fisher_581
692   2011_RE_0694   fisher_579
693   2011_RE_0695   fisher_579
701   2011_RE_0703   fisher_581
733   2011_RE_0736   fisher_581
740   2011_RE_0743   fisher_581
770   2011_RE_0773   fisher_815
771   2011_RE_0774   fisher_815
772   2011_RE_0775   fisher_815
773   2011_RE_0776   fisher_815
775   2011_RE_0778   fisher_815
776   2011_RE_0779   fisher_815
792   2011_RE_0796   fisher_815
799   2011_RE_0803   fisher_815
839   2011_RE_0843   fisher_815
844   2011_RE_0848   fisher_815
845   2011_RE_0849   fisher_815
846   2011_RE_0850   fisher_815
882   2011_RE_0886   fisher_815
884   2011_RE_0888   fisher_815
906   2011_RE_0910   fisher_583
917   2011_RE_0921   fisher_583
955   2011_RE_0959   fisher_579
1030  2011_RE_1034   fisher_815
1031  2011_RE_1035   fisher_815
1032  2011_RE_1036   fisher_815
1089  2011_RE_1093  fisher_1024
1124  2011_RE_1128   fisher_985
1147  2011_RE_1151  fisher_1024
1164  2011_RE_1168   fisher_815
1182  2011_RE_1186  fisher_1319
1234  2011_RE_1238   fisher_583
1255  2011_RE_1259   fisher_579

End    
fisher values above are detected error

create a dataframe to store Fisher values detected as error

In [12]:
#add string to Rescue_ID values
dx['Rescue_ID'] = dx['Rescue_ID'].astype(str) + ' ' + 'x' + ' ' + 'Fisher'

/home/amy/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [13]:
#create a column 'error' with 1 all through to indicate error
dx['error'] = 1

/home/amy/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [14]:
dx = dx[['Rescue_ID', 'Fisher', 'error']]

In [15]:
#csv file
dx.to_csv('fishervalueswitherror.csv', index=False)

In [16]:
#End of creating dataframe to store Fisher values detected as error

since we wanted to help local ocean quickly find fields that need some kind of attention I considered values like 'not_recorded'
as an error and I detected those values in 'ReleaseSite' column

In [17]:
#not_recorded values in ReleaseSite column in test dataframe
df = test[test['ReleaseSite'] == 'not_recorded']
df[['Rescue_ID', 'ReleaseSite']]

         Rescue_ID   ReleaseSite
50    2011_RE_0051  not_recorded
54    2011_RE_0055  not_recorded
56    2011_RE_0057  not_recorded
62    2011_RE_0063  not_recorded
63    2011_RE_0064  not_recorded
65    2011_RE_0066  not_recorded
79    2011_RE_0080  not_recorded
113   2011_RE_0114  not_recorded
115   2011_RE_0116  not_recorded
156   2011_RE_0157  not_recorded
159   2011_RE_0160  not_recorded
186   2011_RE_0187  not_recorded
194   2011_RE_0195  not_recorded
217   2011_RE_0218  not_recorded
218   2011_RE_0219  not_recorded
220   2011_RE_0221  not_recorded
235   2011_RE_0236  not_recorded
236   2011_RE_0237  not_recorded
239   2011_RE_0240  not_recorded
240   2011_RE_0241  not_recorded
241   2011_RE_0242  not_recorded
244   2011_RE_0245  not_recorded
247   2011_RE_0248  not_recorded
248   2011_RE_0249  not_recorded
249   2011_RE_0250  not_recorded
250   2011_RE_0251  not_recorded
251   2011_RE_0252  not_recorded
252   2011_RE_0253  not_recorded
253   2011_RE_0254  not_recorded
254   2011_RE_0255  not_recorded
...            ...           ...
495   2011_RE_0496  not_recorded
496   2011_RE_0497  not_recorded
506   2011_RE_0507  not_recorded
509   2011_RE_0510  not_recorded
510   2011_RE_0511  not_recorded
511   2011_RE_0512  not_recorded
536   2011_RE_0537  not_recorded
550   2011_RE_0551  not_recorded
573   2011_RE_0574  not_recorded
578   2011_RE_0579  not_recorded
585   2011_RE_0586  not_recorded
588   2011_RE_0589  not_recorded
677   2011_RE_0679  not_recorded
686   2011_RE_0688  not_recorded
717   2011_RE_0719  not_recorded
721   2011_RE_0724  not_recorded
722   2011_RE_0725  not_recorded
726   2011_RE_0729  not_recorded
730   2011_RE_0733  not_recorded
743   2011_RE_0746  not_recorded
800   2011_RE_0804  not_recorded
825   2011_RE_0829  not_recorded
842   2011_RE_0846  not_recorded
968   2011_RE_0972  not_recorded
1001  2011_RE_1005  not_recorded
1051  2011_RE_1055  not_recorded
1079  2011_RE_1083  not_recorded
1100  2011_RE_1104  not_recorded
1301  2011_RE_1305  not_recorded
1338  2011_RE_1342  not_recorded

[282 rows x 2 columns]

ReleaseSite values above are detected error

create dataframe to store ReleaseSite values detected as error

In [18]:
df['Rescue_ID'] = df['Rescue_ID'].astype(str) + ' ' + 'x' + ' ' + 'ReleaseSite'

/home/amy/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [19]:
#create a column 'error' also with 1 to indicate error
df['error'] = 1

/home/amy/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [20]:
df = df[['Rescue_ID', 'ReleaseSite', 'error']]

In [21]:
df.head(2)

                     Rescue_ID   ReleaseSite  error
50  2011_RE_0051 x ReleaseSite  not_recorded      1
54  2011_RE_0055 x ReleaseSite  not_recorded      1

In [22]:
#csv file
df.to_csv('ReleaseSitevalueserror.csv', index=False)

In [23]:
#end of creating and saving dataframe to store ReleaseSite values detected as error

Values in both 'Fisher column' in 'fishervalueswitherror csv' and 'ReleaseSite column' in 'ReleaseSitevalueserror csv' are regarded as error.

create submission file

In [24]:
#initialise both first and second csv file
dir_f = 'fishervalueswitherror.csv'
dir_s = 'ReleaseSitevalueserror.csv'

In [25]:
#read the files
first = pd.read_csv(dir_f, low_memory = False)
second = pd.read_csv(dir_s, low_memory = False)

In [26]:
sub.head(2)

                           ID  error
0  2011_RE_0001 x Date_Caught    0.0
1   2011_RE_0001 x Researcher    0.0

In [27]:
#fill all values in submission fill not regarded as error with 0
sub = sub.fillna(0)

In [28]:
#update values in first and second csv regarded as erroneous in submission file
sub = sub.set_index('ID')
first = first.set_index('Rescue_ID')
second = second.set_index('Rescue_ID')

sub.update(first)
sub.update(second)

In [29]:
sub.reset_index(inplace=True)

In [30]:
sub.head(2)

                           ID  error
0  2011_RE_0001 x Date_Caught    0.0
1   2011_RE_0001 x Researcher    0.0

In [31]:
#csv file
sub.to_csv('namz_-_Copy.csv', index=False)

Thank You and I LOVE ZINDI!!!